<div class="wrapper">
    <div id="signed_in"> <% if current_user %>
                            <strong><%= current_user.name %></strong>
                         <% end %> </div><br>
    <div id="balance"> <% if current_user %>
                      Balance: <strong><%= current_user.balance %></strong>
                     <% end %> </div><br>
    <div id="index_img"><%=image_tag ("/assets/mockup/TDS2.png")%></div>
    <header>
        <ul>
            <li> <%= link_to 'Home', controller: 'home' %> </li>
            <li> <%= link_to 'Matches', {controller: 'matches'}%> </li>
            <li> <% if current_user %> 
                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                <% else %>
                    <%= link_to "Sign In", "/auth/google_oauth2", id: "sign_in" %>
                <% end %> </li>
        </ul>
    </header>
    <h1>Create New Match</h1>
    <%= form_for :match, url: matches_path do |f| %>
    
        <% if @match.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved
                </h2>
                <ul>
                    <% @match.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <p>
            <%= f.label :league, 'League:' %>
            <%= f.text_field :league %>
        </p>
        
        <p>
            <%= f.label :home, 'Home Team:' %>
            <%= f.text_field :home %>
            <%= f.label :home_odds, 'Home Odds:' %>
            <%= f.text_field :home_odds %>
        </p>
        
        <p>
            <%= f.label :away, 'Away Team:' %>
            <%= f.text_field :away %>
            <%= f.label :away_odds, 'Away Odds' %>
            <%= f.text_field :away_odds %>
        </p>
        
        <p>
            <%= f.label :date, 'Date:' %>
            <%= f.date_field :date %>
        </p>
        
        <p>
            <%= f.label :time, 'Time:' %>
            <%= f.time_field :time %>
        </p>
        
        <p>
            <%= f.submit 'Publish Match'%>
        </p>
    <% end %>
    <%= link_to 'Back', matches_path %>
</div>